footer {
    padding-top: 5.2rem;
    padding-bottom: 0.3rem;
    display: flex;
    justify-content: space-between;

    .social {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    } 

    .source {
        display: flex;
        justify-content: flex-end;

        &__link:hover {
            color: white;
        }
    }

    .source, .social, .copyright {
        flex-grow: 1;
        flex-basis: 0;
    }
}