* {
    box-sizing: border-box;
    margin: 0;
}

$primary-color:  rgb(251, 136, 23);
$bg-color: #111213;
$bg-color-alt: #0c0f11;
$txt-color: #a8adb2;
$txt-color-bright: #eef5fc;
$txt-color-dim: #c0c0c0;
$container-width: 768px;
$bg-gradient: linear-gradient(139deg, rgb(251, 136, 23), rgb(255, 75, 1), rgb(193, 33, 39), rgb(224, 42, 255));
$bg-gradient-alt: radial-gradient(79.69% 102.24% at 100% 100.11%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(89.7% 115.09% at 3.43% 2.75%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), #764ABC;

$breakpoint-tablet: 768px;

body {
    background-color: $bg-color;
    color: $txt-color;
}

.container {
    margin: auto;
    max-width: $container-width;
    padding: 1.5rem;
}

.top {
    height: 5px;
    background-image: $bg-gradient;
}

a {
    color: $txt-color;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    color: $txt-color-bright;
}

